> Projeto Desenvolve <br>
Programação Intermediária com Python <br>
Profa. Camila Laranjeira (mila@projetodesenvolve.com.br) <br>

# 3.14 - ORM

## Exercícios

#### Q1. Conhecendo os dados
Baixe o seguinte csv onde iremos trabalhar. Ele contém informações sobre salários de profissionais de dados de uma empresa hipotética entre 2009 e 2016
* https://github.com/camilalaranjeira/python-intermediario/blob/main/salaries.csv

Suas colunas, descritas na [página do Kaggle que contém o dataset](https://www.kaggle.com/datasets/krishujeniya/salary-prediction-of-data-professions?resource=download), são:
* FIRST NAME: Primeiro nome do profissional de dados (String)
* LAST NAME: Sobrenome do profissional de dados (String)
* SEX: Gênero do profissional de dados (String: 'F' para Feminino, 'M' para Masculino)
* DOJ (Date of Joining): A data em que o profissional de dados ingressou na empresa (Data no formato MM/DD/AAAA)
* CURRENT DATE: A data atual ou a data de referência dos dados (Data no formato MM/DD/AAAA)
* DESIGNATION: O cargo ou designação do profissional de dados (String: ex., Analista, Analista Sênior, Gerente)
* AGE: Idade do profissional de dados (Integer)
* SALARY: Salário anual do profissional de dados (Float)
* UNIT: Unidade de negócios ou departamento em que o profissional de dados trabalha (String: ex., TI, Finanças, Marketing)
* LEAVES USED: Número de licenças utilizadas pelo profissional de dados (Integer)
* LEAVES REMAINING: Número de licenças restantes para o profissional de dados (Integer)
* RATINGS: Avaliações de desempenho do profissional de dados (Float)
* PAST EXP: Experiência de trabalho anterior em anos antes de ingressar na empresa atual (Float)

Na célula a seguir, **carregue os dados do CSV e dê uma olhada neles antes de seguir**.

In [88]:
### Escreva sua resposta aqui
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/salaries.csv')
df.head()

,FIRST NAME,LAST NAME,SEX,DOJ,CURRENT DATE,DESIGNATION,AGE,SALARY,UNIT,LEAVES USED,LEAVES REMAINING,RATINGS,PAST EXP
0,TOMASA,ARMEN,F,5-18-2014,01-07-2016,Analyst,21.0,44570,Finance,24.0,6.0,2.0,0
1,ANNIE,NaN,F,NaN,01-07-2016,Associate,NaN,89207,Web,NaN,13.0,NaN,7
2,OLIVE,ANCY,F,7-28-2014,01-07-2016,Analyst,21.0,40955,Finance,23.0,7.0,3.0,0
3,CHERRY,AQUILAR,F,04-03-2013,01-07-2016,Analyst,22.0,45550,IT,22.0,8.0,3.0,0
4,LEON,ABOULAHOUD,M,11-20-2014,01-07-2016,Analyst,NaN,43161,Operations,27.0,3.0,NaN,3

#### Q2. Modelando os dados
Você deve **criar um ORM com SQLAlchemy capaz de comportar os dados dessa base**.

* Crie um campo de chave primária `ID`, que deve ser incrementado automaticamente
* Os campos SEX, DESIGNATION e UNIT devem ser definidos como classes `Enum` com os possíveis valores (consulte os valores únicos dessas colunas)
* Para os outros campos, consulte os tipos de dados informados na descrição acima

In [89]:
df['DESIGNATION'] = df['DESIGNATION'].replace({
    'Senior Analyst': 'Senior_Analyst',  'Senior Manager': 'Senior_Manager'
})

In [90]:
unique_designations = df['DESIGNATION'].unique()
print(unique_designations)

['Analyst' 'Associate' 'Senior_Analyst' 'Senior_Manager' 'Manager'
 'Director']

In [91]:
### Escreva sua resposta aqui
from sqlalchemy import create_engine, Column, Integer, String, Date, Enum, Float
from sqlalchemy.orm import sessionmaker, declarative_base
from sqlalchemy import Enum
import enum

Base = declarative_base()
Base.metadata.drop_all(engine)


class Sex(enum.Enum):
    F = 'F'
    M = 'M'

class Unit(enum.Enum):
    TI = 'IT'
    Finance = 'Finance'
    Marketing = 'Marketing'
    Web = 'Web'
    Operations = 'Operations'
    Management = 'Management'


class Designation(enum.Enum):
    Analyst = 'Analyst'
    Senior_Analyst = 'Senior Analyst'
    Manager = 'Manager'
    Senior_Manager = 'Senior Manager'
    Associate = 'Associate'
    Director = 'Director'

class DataProfessionals(Base):
    __tablename__ = 'data_professionals'
    id = Column(Integer, primary_key=True, autoincrement=True)
    first_name = Column(String)
    last_name = Column(String)
    sex = Column(Enum(Sex))
    doj = Column(Date)
    current_date = Column(Date)
    designation = Column(Enum(Designation))
    age = Column(Float)
    salary = Column(Float)
    unit = Column(String)
    leaves_used = Column(Float)
    leaves_remaining = Column(Float)
    ratings = Column(Float)
    past_exp = Column(Float)

engine = create_engine('sqlite:///salarios.db')


Session = sessionmaker(bind=engine)
session = Session()

#### Q3. Estabelecendo uma conexão

Usando o método `create_engine` do SQLAlchemy, crie uma conexão com um novo banco de dados SQLite chamado `salarios`.

In [92]:
### Escreva sua resposta aqui
from sqlalchemy import create_engine, text
engine = create_engine('sqlite:///salarios.db')

with engine.connect() as connection:
    result = connection.execute(text("SELECT sqlite_version();"))
    print(result.fetchone()[0])

3.37.2

#### Q4. Criando as tabelas
Crie as tabelas da questão Q2 no banco `salarios`.

In [93]:
### Escreva sua resposta aqui
Base.metadata.create_all(engine)

#### Q5. Populando

Usando o método `to_sql` da biblioteca Pandas (veja [a documentação](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html)), popule o banco `salarios` com os dados do csv que você carregou na questão Q1.
* Lembre-se de definir o parâmetro `if_exists='append'` para que as tabelas não sejam dropadas e recriadas.

In [94]:
### Escreva sua resposta aqui
df.columns = ["first_name", "last_name", "sex", "doj", "current_date", "designation",
    "age", "salary", "unit", "leaves_used", "leaves_remaining", "ratings", "past_exp"]

df.to_sql('data_professionals', con=engine, if_exists='append', index=False)

2639

#### Q6. Consultas SQL vs ORM

Agrupe os dados por DESIGNATION e selecione o mínimo, máximo e a média dos salários (SALARY) divididos por 12. Já que o atributo SALARY é anual, dividir por 12 nos mostrará os valores mensais.

Assumindo que a variável que armazena a sua conexão se chama `engine`, você deve realizar a query acima de três formas:
* Executando a query SQL através de uma instância de conexão retornada pelo método `engine.connect()`
* Executando a query SQL com o método `read_sql_query` do Pandas (veja [a documentação](https://pandas.pydata.org/docs/reference/api/pandas.read_sql_query.html)). Você usará mesma instância `engine.connect()` como um dos parâmetros.
* Executando uma query criada com o módulo `select` do SQLAlchemy. Sua execução deve ser feita através de um objeto `Session` do módulo `orm` do SQLAlchemy (`Session(engine)`).

In [95]:
### Execute aqui sua query SQL com SQLAlchemy
query = "SELECT designation, MIN(salary)/12 AS min_salary, MAX(salary)/12 AS max_salary, AVG(salary)/12 AS avg_salary FROM data_professionals GROUP BY designation"
with engine.connect() as connection:
    result = connection.execute(text(query))
    for row in result:
        print(row)

('Analyst', 3333.4166666666665, 4165.0, 3751.675987685993)
('Associate', 5846.166666666667, 8300.25, 7266.915094339623)
('Director', 17832.25, 32342.666666666668, 23914.265625)
('Manager', 8343.666666666666, 12407.5, 10522.716049382716)
('Senior_Analyst', 4170.333333333333, 5830.5, 4991.778792134832)
('Senior_Manager', 12614.416666666666, 16631.416666666668, 14888.689516129032)

In [96]:
### Execute aqui sua query SQL com SQLAlchemy + Pandas
df = pd.read_sql_query(query, engine)
df

      designation    min_salary    max_salary    avg_salary
0         Analyst   3333.416667   4165.000000   3751.675988
1       Associate   5846.166667   8300.250000   7266.915094
2        Director  17832.250000  32342.666667  23914.265625
3         Manager   8343.666667  12407.500000  10522.716049
4  Senior_Analyst   4170.333333   5830.500000   4991.778792
5  Senior_Manager  12614.416667  16631.416667  14888.689516

In [97]:
### Execute aqui sua query com SQLAlchemy ORM



from sqlalchemy import select, func
with Session() as session:
    # Definindo a query ORM com SQLAlchemy
    stmt = (
        select(
            DataProfessionals.designation,
            func.min(DataProfessionals.salary / 12).label("min_salary_monthly"),
            func.max(DataProfessionals.salary / 12).label("max_salary_monthly"),
            func.avg(DataProfessionals.salary / 12).label("avg_salary_monthly")
        )
        .group_by(DataProfessionals.designation)
    )

    result = session.execute(stmt)
    for row in result:
        print(row)

(<Designation.Analyst: 'Analyst'>, 3333.4166666666665, 4165.0, 3751.6759876859915)
(<Designation.Associate: 'Associate'>, 5846.166666666667, 8300.25, 7266.915094339625)
(<Designation.Director: 'Director'>, 17832.25, 32342.666666666668, 23914.265625000004)
(<Designation.Manager: 'Manager'>, 8343.666666666666, 12407.5, 10522.716049382716)
(<Designation.Senior_Analyst: 'Senior Analyst'>, 4170.333333333333, 5830.5, 4991.778792134831)
(<Designation.Senior_Manager: 'Senior Manager'>, 12614.416666666666, 16631.416666666668, 14888.689516129034)